$font-size-xl: 30px;
$font-size-small: 18px;

.search-font-custom {
  font-size: $font-size-xl;

  @media (max-width: 1199px) {
    font-size: $font-size-xl;
  }

  @media (max-width: 991px) {
    font-size: $font-size-xl - 2px;
  }

  @media (max-width: 767px) {
    font-size: $font-size-small;
  }
}

.custom-padding-search {
  padding: 40px 0px 40px 0px !important;
  @media (max-width: 1199px) {
    padding: 40px 0px 40px 0px !important;
  }

  @media (max-width: 991px) {
    font-size: $font-size-xl - 2px;
  }

  @media (max-width: 767px) {
    padding: 8px 0px 8px 0px !important;
  }
}

.link-like-container {
  color: inherit; /* Use the default text color */
  text-decoration: none; /* Remove default underline */
  cursor: pointer; /* Set cursor to pointer on hover */
}

.link-like-container:hover {
  color: blue; /* Change text color to blue on hover */
}

.custom-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .custom-dropdown-menu {
    max-height: 200px;
  }
}

.contact_text {
  color: blue;
}


.hideMobile {
  @media(min-width: 992px) {
    display: flex;
  } 

  @media (max-width: 991px) {
    display: none;
  }
}